body {
    background-color: #000000;
}

.btn {
    min-width: 80px;
    border: 3px solid grey;
    border-radius: 15px;
}

.inputStyle {
    width: 300px;
    cursor: pointer;
}

.hexCode {
    max-width: 500px;
    padding: 10px 30px;
    color: #000000;
    font-weight: bold;
    font-size: 90px;
    background-color: #ffffff90;
    border-radius: 5px;
}